[Unit]
Description=My POP3
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /opt/is_mail/pop3_server.py 
ExecStop=/bin/pkill -9 -f /opt/is_mail/pop3_server.py
User=root
Group=root

[Install]
WantedBy=multi-user.target

